<div class="container martb40">
  <div class="row">
    <div class="col-md-6 text-center">
      {% include "@molecules/text-button/text-button.twig"
        with{
          "paragraph_content": "Help us make this event awesome",
          "button_text": "Become a Sponsor"
        }
      %}
    </div>
    <div class="col-md-6 text-center">
      {% include "@molecules/text-button/text-button.twig"
        with{
          "paragraph_content": "Be a part of the awesomeness.",
          "button_text": "Tickets"
        }
      %}
    </div>
  </div>
</div>
