@import "bootstrap";

body{
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

ul{
  li{
    list-style-type: none;
  }
}

h2{
  color: #006dd5;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 40px 0;
}

h3{
  color: #006dd5;
  font-size: 24px;
  text-transform: uppercase;
  margin: 40px 0;
}

h4{
  color: #006dd5;
  font-size: 18px;
  margin: 20px 0;
}

.martb40{
  margin-top: 40px;
  margin-bottom: 40px;
}

.logo {
  position: absolute;
  width: 210px;
  margin: 0 auto;
  top: 38px;
  left: -75px;
  right: 0px;
  text-align: center;
  z-index: 2;
}

.main-nav{
  margin: 0px;
  padding: 0px;
  text-align: center !important;
  display: flex;
  justify-content: center;
  li{
    margin-right: 40px;
    &:nth-child(3){
      padding-right: 220px;
      margin-right: 0px;
    }
    &:nth-child(4){
      margin-left: 80px;
    }
    a{
      font-size:18px;
      padding: 40px 0;
      line-height: 110px;
      color: #717580  !important;
      text-transform: uppercase;
      &:hover{
        text-decoration: none;
        color: #ff5252 !important;
      }

      &.is-active{
        border-bottom: 4px solid #ff5252;
        color: #fd1f58 !important;
      }

    }
  }
}

.btn-red{
  display: inline-block;
  border-radius: 5px;
  background-color: #fd1f58;
  padding: 15px 50px;
  margin: 20px 0;
  color: #FFF;
  width: 250px;
  font-size: 16px;
  &:hover{
    color: #FFF;
  }
}

.speaker-wrap {
  background: #f7f9fb;
  h2{
    margin: 40px 0;
    text-align: left;
  }
}

.events-wrap{
  h2{
    margin: 40px 0;
  }
}
