{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}


{% if title %}
  {% include "@atoms/02-text/01-headings/heading.twig"
    with{
    "heading_level": 2,
    "heading": title
  }
  %}
{% endif %}

<div class="container">
  <div class="row">
{% for row in rows %}
  {% include "@organisms/three-column-block/three-column-block.twig"
    with{
      "heading_level": 4,
      "heading": row.content['#row']._entity.field_event_title[0].value,
      "image_url": file_url(row.content['#row']._entity.field_event_image.entity.fileuri),
      "paragraph_content": row.content['#row']._entity.body[0].value,
    }
  %}
{% endfor %}
  </div>
</div>
{#{{ kint(rows) }}#}
